### icetest

### Copyright (c) 2021 Eric Schlaepfer
### This work is licensed under the Creative Commons Attribution-ShareAlike 4.0
### International License. To view a copy of this license, visit
### http://creativecommons.org/license/by-sa/4.0/ or send a letter to Creative
### Commons, PO Box 1866, Mountain View, CA 94042, USA.

### Clocks
set_io clk_10m      49

### Bus reset
set_io chreset_l    52

### LED
set_io led0         37
set_io led1         38
